@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

body {
  background-color: white;
    font-size: 15pt;
    
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
font-family: 'Lato', sans-serif;
}
.head {
  position: relative;
}
.header {
  width: 100%;
 height: 300px;
 background-color: rgb(38, 3, 100); 
clip-path: circle(100% at 10% -30%);
position: absolute;
opacity: 0.7;

}
#head2 {
  clip-path: circle(90% at 10% -30%);
 background-color:rgb(43,13,239)  ;
}

#head3 {
  clip-path: circle(80% at 10% -30%);
  background-color: rgb(44,146,244);
}
 #head4 {
   clip-path: circle(70% at 10% -30%);
  background-color: rgb(48,20,227);
}

.headD {
  position: relative;
  width: 80vw;
  height: 230px;
  margin: 0 auto;
  background-color: transparent;
  border-radius: 15px ;
  top: 50px;
  text-align: center;
  margin-bottom: 80px;
  box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.1);
  
}
.headText {
  font-size: 3.6rem;
  letter-spacing: 0.1rem;
  padding-top: 30px;
  margin-bottom: 20px;
  font-weight: 400;
  
}
.headButt {
  font-size: 2.7rem;
    letter-spacing: 0.1rem;
    font-weight: 400;
    margin-top: 30px;
}
.stat {
  height: 340px;
  width: 88%;
  background-color: white;
  box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.1);
  margin: 60px auto;
  border-radius: 15px;
 display: flex;
  flex-direction: column;
  position: relative;
}

.text {
  width: 100%; 
 box-shadow: 0px -1px 2px 0px rgba(0, 0, 0, 0.1),
 0px 1px 2px 0px rgba(0, 0, 0, 0.1);
  background-color: rgba(43,13,239,0.2);
  position: relative;
  top: 12px;
  text-align: center;
  padding: 3px;
  font-size: 37px;
  text-transform: uppercase;
    letter-spacing: 1px;
    
}
.image {
  width: 170px;
  height: 150px;
  position: relative;
}

.container {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
}
#tc, #nc, #td, #nd, #tr , #nr {
  font-size: 30px;
}

#tcText {
   background-color: rgba(44,146,244,0.2);
  }
#ndText {
   background-color: rgba(38,2,100,0.2);
  }
  #tdText {
   background-color: rgba(0,117,190,0.2);
  }
#nrText {
  background-color: rgba(5, 25, 255, 0.2);
}
#nrText {
  background-color: rgba(28, 56, 93, 0.2);
}
.countries {
  display: none;
}

.check {
  height: 350px;
  width: 90%;
  background-color: white;
  box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  border-radius: 10px;
  position: relative;
}
.checkText {
  font-size: 38px;
  padding: 4px 2px 3px 2px;
  text-transform: uppercase;
  text-align: center;
}
#checkTe {
  padding-top: 0px;
}
.button {
  display: block;
  position: relative;
  margin: 100px auto ;
  padding: 20px 10px;
  border-radius: 5px;
  outline: none;
  background: transparent;
  border: 2px solid rgba(0,0,255,0.4);
  transition: 0.5s;
  font-size: 25px;
}

.button:hover {
  border: 2px solid rgba(0,0,255,0.8);
  
}
.group { 
  background-color: rgba(55, 183, 207,0.3);
  position: relative;
  top: 15px;
}
.selectGroup {
  height: 200px;
  width: 90%;
  box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.1);
  margin: 30px auto;
  margin-top: -15px;
  border-radius: 6px;
}
.selectGroupText {
  background-color:  rgba(38, 3, 100, 0.3);
 margin: 15px auto;
position: relative;
top: 12px;
text-transform: uppercase;
text-align: center;
font-size: 30px;
}
select {
  margin: 30px auto;
  display: block;
}

.panel {
  width: 55px;
  height: 55px;
  border-radius: 50%;
  box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.1);
  margin: 40px auto;
  position: relative;
  transition: 0.6s;
}

#sidePanel {
  
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 22;
  width: 60px;
}

#sidePanel4 {
  margin-bottom: 15px;
  z-index: 55;
}
.icon {
  height: 55px;
  width: 55px;
}
#sidePanel2 {
  top: 190px;
  opacity: 0;
}
#sidePanel3 {
  top: 95px;
  opacity: 0;
}
#sidePanel1 {
  top: 285px;
  opacity: 0;
  
}
.country {
  top : 20px;
  background-color: white;
  outline: none;
  width: 80%;
  height: 20%;
  border-radius: 10px;
  position: relative;
}
.current {
  box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.1);
  padding: 1px 10px;
  position: absolute;
  transform: rotate(330deg);
  bottom: 20px;
  right: -35px;
  font-size: 35px;
  text-transform: uppercase;
  font-family: cursive;
  background: linear-gradient(rgb(48,20,227),rgb(44,146,244),rgb(43,13,239),rgb(38, 3, 100));
  border-radius: 5px;
  background-clip: text;
-webkit-background-clip: text;
color: transparent;
}
.small {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: seagreen;
  z-index: 888;
  color: #000;
  padding: 4px;
}

#headAs{
  font-size: 2.5rem;
}
#headBs {
  font-size: 2.7rem;
}
#headAss {
  height: 200px;
}
.small {
  clip-path: circle(8% at 88% 89%);
  background-color: rgb(64,208,221);
  transition: all 0.5s ease-in-out;
  border-radius: 15px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}
.small:hover {
  clip-path: circle(80%);
}

.smallH {
  text-transform: uppercase;
  padding: 2px 5px;
  font-size: 39px;
  letter-spacing: 1px;
}
.smallP{
  padding: 2px 5px;
}
.smallS{
  cursor: pointer;
  position: relative;
  font-weight: bold;
  align-self: flex-end;
  justify-self: flex-end;
  right: 28px;
  bottom: 5px;
  color:  white;
  font-size: 45px;
  transition: opacity .5s ease-in-out;
}
.small:hover .smallS {
  opacity: 0;
}

#global {
  width: 90%;
  padding: 15px 10px;
  border-radius: 9px;
  font-size: 50px;
  box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 0 auto;
  margin-bottom: -23px;
}
#imaged {
  float: right;
 height: 200px;
 position: relative;
 top: -26px;
 width: 150px;
}
.two {
  margin-top: 22px;
  padding: 10px;
  position: relative;
  
}
#footer {
  height: 320px;
}
.one {
  font-size: 25px;
  bottom: 15px;
  position: relative;
}
#time {
  padding: 10px;
  width: 90%;
  margin: 10px auto;
  box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.1);
}
.end {
				position: relative;
}
.endDiv {
				position: absolute;
				text-align: center;
				top: 40%;
				left: 4%;
				text-transform: uppercase;
				margin: 0 auto;
				width: 92%;
				padding: 15px;
				background: rgba(255,255,255,0.1);
				font-family: cursive;
				border-radius: 9px;
				box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.1);
}

@media only screen and (min-width: 860px) {
  .image {
  width: 220px;
  height: 220px;
}
.stat {
  height: 500px;
}
.text {
  font-size: 55px;
}
.headText {
  font-size: 60px;
}
.headButt {
  font-size: 50px;
}
.small {
  clip-path: circle(4% at 95% 92%);
}
.icon {
  height: 85px;
  width: 85px;
}
.panel {
  height: 85px;
  width: 85px;
}
#sidePanel {
  right: 30px;
}
.endDiv {
				top: 230px;
				font-size: 35px;
				border-radius: 19px;
}
}
